<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1">
    <title>Cobaco ファイル一覧</title>
    <meta name="description" content="あなたのファイル一覧です。">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/webjars/normalize.css/normalize.css}">
</head>
<body>
<header>
    <div class="header-inner container">
        <h1 class="header-logo">
            <a th:href="@{/file/home}"><img th:src="@{/image/logo.png}"></a>
        </h1>
    </div>
</header>
<section>
    <div class="container">
        <div class="breadcrumb">
            <ol>
                <li>
                    <a th:href="@{/file/home}">home</a>
                </li>
                <li th:each="dir : ${ancestors.value()}">
                    <a th:href="@{'/file/home/'+${dir.id}}" th:text="${dir.name}"></a>
                </li>
                <li th:if="${currentDir != null}">
                    <span th:text="${currentDir.name}"/>
                </li>
            </ol>
        </div>
    </div>
</section>
<section th:with="currentDirId=${currentDir == null}? '' : ${currentDir.id}">
    <div class="container">
        <main class="main">
            <div class="action-toolbar float-clear">
                <form name="uploadForm" th:action="@{'/file/upload/'+${currentDirId}}"
                      enctype="multipart/form-data"
                      method="POST" th:object="${uploadForm}">
                    <button class="upload-button" onclick="clickFile('uploadFile'); return false">ファイルをアップロード</button>
                    <input type="file" id="uploadFile" onchange="submitUpload()" th:field="*{uploadFile}"
                           class="upload-button">
                </form>
                <form name="createDirForm" th:action="@{'/directory/create/'+${currentDirId}}" method="POST">
                    <button onclick="clickFile('createDirName'); return false" class="create-button">フォルダを作成</button>
                    <input type="text" style="display: none" onclick="submitCreateDir()" id="createDirName"
                           name="createDirName">
                </form>
            </div>
            <div>
                <table class="file-table">
                    <thead>
                    <tr>
                        <th scope="col">ファイル名</th>
                        <th scope="col">サイズ</th>
                        <th scope="col">削除</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="storedFile : ${uploadForm.storedFiles}">
                        <td>
                            <div class="float-clear">
                                <div class="file-icon" th:file-type="${storedFile.type}"></div>
                                <a th:href="@{'/file/download/'+${storedFile.id}}" th:text="${storedFile.name}"
                                   th:if="${storedFile.isFile()}"/>
                                <a th:href="@{'/file/home/'+${storedFile.id}}" th:text="${storedFile.name}"
                                   th:if="${storedFile.isDirectory()}"/>
                            </div>
                        </td>
                        <td><span class="file-size-text" th:text="${storedFile.displaySize()}"/></td>
                        <td><a name="delete" href="JavaScript:void(0)" th:data-id="${storedFile.id}">削除</a></td>
                    </tr>
                    </tbody>
                </table>
                <form name="deleteForm" th:action="@{/file/delete/}" method="POST"/>
            </div>
        </main>
    </div>
</section>
<footer>
    <div class="footer-inner container">
    </div>
</footer>
<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementsByName('delete').forEach(function (value, key, parent) {
            value.addEventListener('click', function (e) {
                let form = document.deleteForm;
                let currentDirId = /*[[${currentDir == null}? '' : ${currentDir.id}]]*/ '';
                let fileId = this.getAttribute('data-id');
                form.action = form.action + currentDirId + (currentDirId === '' ? '' : '/') + fileId;
                form.submit();
                e.preventDefault();
            })
        })
    })

    function submitUpload() {
        let form = document.uploadForm;
        form.submit();
    }

    function submitCreateDir() {
        let name = prompt("追加するフォルダの名前を入力してください。");
        if (name === null) {
            return;
        }
        let text = document.getElementById("createDirName");
        text.value = name;
        document.createDirForm.submit();
    }

    function clickFile(id) {
        document.getElementById(id).click();
    }
</script>
</body>
</html>