<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Storage</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
</head>
<body>
<main role="main" class="container">
    <form th:action="@{/file/upload}" enctype="multipart/form-data" method="POST" th:object="${uploadForm}">
        <div class="jumbotron">
            <h1>Storage</h1>
            <p class="lead">あなたのファイルをアップロードしてオンラインストレージに保存しましょう！</p>
            <input type="file" neme="uploadFile" th:field="*{uploadFile}">
            <button class="btn btn-primary" role="button">アップロード</button>
            <p class="message-complete" th:text="${message}"></p>
        </div>
        <table class="table table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col">名前</th>
                <th scope="col">ファイルサイズ</th>
                <th scope="col">削除</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="storedFile : ${uploadForm.storedFiles}">
                <td><a th:href="@{'/file/download/'+${storedFile.id}}" th:text="${storedFile.name}"/></td>
                <td><span th:text="${storedFile.displaySize()}"/></td>
                <td><a href="#" th:onclick="'submitDeleteRequest('+${storedFile.id}+')'">削除</a></td>
            </tr>
            </tbody>
        </table>
    </form>
    <form name="deleteForm" th:action="@{/file/delete/}" method="POST" />
</main>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script>
    function submitDeleteRequest(fileId) {
        let form = document.deleteForm;
        form.action = form.action + fileId
        form.submit();
        return false;
    }
</script>
</body>
</html>